{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="heading"><h1>Add Inventory</h1></div>
 <form action="/addinv" method= "post">

    <table class="table table-striped table-bordered table-condensed shadow p-3 mb-5 table-curved">
        <tr>
            <th>Ingredient</th>
            <th>Lbs</th>
            <th>Ounces</th>
            <th>Grams</th>
        </tr>

            {% for inv in inventory %}

            {% set lbs = inv.ounces|int // 16 %}
            {% set oz = inv.ounces|int % 16 %}
             
            <tr>
                <td>{{inv.ingredients.name}}</td>
                
                <td>
                            <input class="form-control" name="Lbs" type="text" placeholder="0">
                    </td>
                    <td>
                            <input class="form-control" name="Ounces" type="text" placeholder="0">
                    </td>
                    <td>
                            <input class="form-control" name="Grams" type="text" placeholder="0">
                    </td>
                    <input type = "hidden" name = "ID" value = "{{inv.id}}">

            </tr>  
            {% endfor %}
    </table>

                <input class="btn btn-primary" type= "submit" value = "Add Inventory" name = "Add">


        </form>



    </div> 





    {% endblock %}
